<p id="notice"><%= notice %></p>

<p>
  <b>Origin:</b>
  <%= @message.origin %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @message.timestamp %>
</p>

<p>
  <b>User:</b>
  <%= @message.user %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
