<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="hero-unit hero-unit-login">
        <h1>Registration</h1>
        <p>don't worry, it's remarkably <strong>quick</strong> and <strong>simple</strong></p>
        <%= form_for(@user, :html => { :class => 'form-horizontal'}) do |f| %>
          <fieldset>
              <div class="span5" style="margin-top: 15px">
                <div class="control-group">
                  <%= f.label :username, :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_field :username %>
                    </div>
                </div>
                <div class="control-group">
                  <%= f.label :password, :class => 'control-label' %>
                    <div class="controls">
                      <%= f.password_field :password %>
                    </div>
                </div>
                <div class="control-group">
                  <%= f.label "Confirm Password", :class => 'control-label' %>
                    <div class="controls">
                      <%= f.password_field :password_confirmation %>
                    </div>
                </div>
                <div class="control-group">
                  <%= f.label :email, :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_field :email %>
                    </div>
                </div>
                <div class="form-actions form-actions-login">
                  <%= button_tag 'Sign up', :class => "btn btn-success"  %>
                </div>
              </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>